<table class="table table-striped <%= dom_class(curation_concern) %> attributes">
  <caption class="table-heading"><h2>Attributes</h2></caption>
  <thead>
    <tr><th>Attribute Name</th><th>Values</th></tr>
  </thead>
  <tbody>

  <% work_type = curation_concern.human_readable_type %>
  <% if i18n_set? work_type + '.fields' %>
    <% vocabs =  I18n.t work_type + '.fields' %>
  <% else %>
    <% vocabs =  I18n.t 'Generic Work.fields' %>
  <% end %>

  <% vocabs.each do |vocab, fields| %>
    <% fields.each do |key, value| %>
       <% if (curation_concern.respond_to? key) %>
         <%= curation_concern_attribute_to_html(curation_concern, key, t(value[:label])) %>
       <% end %>
    <% end %>
  <% end %>

  <tr>
    <th>Access Rights</th>
    <td>
      <%= permission_badge_for(curation_concern) %>
    </td>
  </tr>
  <%= curation_concern_attribute_to_html(curation_concern, :embargo_release_date, "Embargo Release Date") %>
  <%= curation_concern_attribute_to_html(curation_concern, :lease_expiration_date, "Lease Expiration Date") %>
  <%= curation_concern_attribute_to_html(curation_concern, :rights, "Content License") %>
  </tbody>
</table>
