<table class="table table-striped <%= dom_class(curation_concern) %> attributes">
  <caption class="table-heading"><h2>Attributes</h2></caption>
  <thead>
    <tr><th>Attribute Name</th><th>Values</th></tr>
  </thead>
  <tbody>

  <% work_type = curation_concern.human_readable_type %>
  <% unless Settings.work_types.to_hash[work_type.to_sym].nil? %>
      <% fields =  Settings.work_types.to_hash[work_type.to_sym][:fields] %>
  <% else %>
      <% fields =  Settings.work_types.to_hash['Biblio Work'.to_sym][:fields] %>
  <% end %>

  <% fields.each do |field, props| %>
    <% if (curation_concern.respond_to? field) %>
     <%= curation_concern_attribute_to_html(curation_concern, field, t(props[:label])) %>
    <% end %>
  <% end %>

  <tr>
    <th>Access Rights</th>
    <td>
      <%= permission_badge_for(curation_concern) %>
    </td>
  </tr>
  <%= curation_concern_attribute_to_html(curation_concern, :embargo_release_date, "Embargo Release Date") %>
  <%= curation_concern_attribute_to_html(curation_concern, :lease_expiration_date, "Lease Expiration Date") %>
  <%= curation_concern_attribute_to_html(curation_concern, :rights, "Content License") %>
  </tbody>
</table>
